<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>Rango</title>
        <!-- Adding javascript/css -->
        <!-- <link rel="stylesheet" href="{% static "css/base.css" %}" /> -->
        <!-- <script src="{% static "js/jquery.js" %}"></script> -->
    </head>

    <body>

        <h1>Rango says...</h1>
        <h2>Hello world! Here are Rango's Top Categories</h2>

        {% if categories %}
            <ul>
            {% for category in categories %}
                <li>{{ category.name }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>There are no categories to display right now</p>
        {% endif %}

        <a href="/rango/about/">About</a><br />
        <a href="/rango/contact/">Contact</a><br />
        <!-- 'static' tag combines STATIC_URL with "Indians_photos.png" -->
        <img src="{% static "images/Indians_photos.png" %}" alt="Indians Photo" /> <!-- New line -->
    </body>

</html>